.container{
     width: 60vw;
     margin: 20px auto 0;
     border: solid 1px grey;
     font-family: 'Courier New', Courier, monospace;
     padding: 20px;
}
h1{
    font-size: 24px;
    color: indigo;
    text-align: center;
}

p {
    color: lightseagreen;
    text-align: justify;
}